<div class="oj-flex">
    <div class="oj-flex-item oj-margin oj-panel">
        <h3>Cloud chart on semester groups</h3>
        <div id='tagcloud' data-bind="ojComponent:{
    component: 'ojTagCloud',
            layout: 'cloud',
            items: visibleStudents
    }"
             style="max-width:800px;height:300px;margin-left:auto;margin-right:auto;">
        </div>
    </div>
    <div class="oj-flex-item oj-margin">
        <h3>Picto chart on semester groups</h3>
        <div  data-bind="ojComponent:{
      component: 'ojPictoChart',
      items: visiblePictoItems,
      animationOnDisplay: 'auto',
      columnCount: 5
    }"
              style="vertical-align:middle; margin-right:15px">
        </div>
        <div style="display:inline-block; vertical-align:middle; font-weight:bold">

            <span style="color:#333333; font-size:1.1em" data-bind="text: 'Total number of age groups: '+visiblePictoItems().length"></span>
        </div>  
    </div>
</div>
